/* CSS Document */
@font-face {
  font-family: "themix";
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_400.eot");
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix") format("embedded-opentype");
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_400.woff") format("woff"), url("https://cdn.skauting.cz/fonts/TheMix_LT_400.woff2") format("woff2"), url("https://cdn.skauting.cz/fonts/TheMix_LT_400.otf") format("opentype"), url("https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "themix";
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot");
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot? #iefix") format("embedded-opentype");
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff") format("woff"), url("https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff2") format("woff2"), url("https://cdn.skauting.cz/fonts/TheMix_LT_400i.otf") format("opentype"), url("https://cdn.skauting.cz/fonts/TheMix_LT_400i.svg#themix") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "themix";
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_700.eot");
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix") format("embedded-opentype");
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_700.woff") format("woff"), url("https://cdn.skauting.cz/fonts/TheMix_LT_700.woff2") format("woff2"), url("https://cdn.skauting.cz/fonts/TheMix_LT_700.otf") format("opentype"), url("https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "themix";
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot");
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot? #iefix") format("embedded-opentype");
  src: url("https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff") format("woff"), url("https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff2") format("woff2"), url("https://cdn.skauting.cz/fonts/TheMix_LT_700i.otf") format("opentype"), url("https://cdn.skauting.cz/fonts/TheMix_LT_700i.svg#themix") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "skautbold";
  src: url("https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot");
  src: url("https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix") format("embedded-opentype");
  src: url("https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff") format("woff"), url("https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff2") format("woff2"), url("https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf") format("opentype"), url("https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  font-family: themix, sans-serif;
  font-size: 15px;
}

h1 {
  margin: 0 0 40px 0;
  font-family: skautbold, sans-serif;
  font-size: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 3px 30px;
}
.header__logo {
  width: 130px;
}

.navigation__checkbox {
  position: absolute;
  left: -9999px;
}
.navigation__bar {
  display: block;
  margin-bottom: 7px;
  border-radius: 2px;
  width: 25px;
  height: 2px;
  background-color: #294885;
  border: 1px solid #294885;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  display: none;
}
.navigation__toggler {
  cursor: pointer;
}
.navigation__item {
  border-bottom: 2px solid #294885;
  transition: 0.2s;
}
.navigation__item:hover {
  border-bottom: 2px solid #FFCC00;
}
.navigation__link {
  display: block;
  color: black;
  padding: 10px 30px;
  font-family: themix, sans-serif;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 799px) {
  .navigation__checkbox:checked ~ .navigation__list {
    display: block;
    position: absolute;
    left: 0px;
    top: 60px;
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .navigation__toggler {
    display: none;
  }
  .navigation__list {
    display: flex;
  }
  .navigation__item {
    border-bottom: 0;
    padding: 0 10px;
  }
  .navigation__item:hover {
    border-bottom: 0;
  }
  .navigation__link {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.2s;
  }
  .navigation__link:hover {
    border: 2px solid #FFCC00;
  }
}

.footer {
  text-align: center;
  color: white;
  background-color: #294885;
  padding: 40px;
}
.footer__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer__button {
  flex-grow: 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: #FFCC00;
  border-radius: 10px;
  border: 2px solid #FFCC00;
  transition: 0.2s;
}
.footer__button:hover {
  color: #FFCC00;
  background-color: #294885;
  border: 2px solid #FFCC00;
}
.footer__icone-img {
  width: 50px;
}
.footer__buttons {
  margin-bottom: 30px;
}
@media screen and (min-width: 450px) {
  .footer__buttons {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */