@use "basicStyles";
@use "buttons";

.footer{
    text-align: center;
    color: white;
    background-color: basicStyles.$primaryC;
    padding: 40px;

    &__buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding-bottom: 30px;
    }

    &__icone-img{
        width: 50px;
    }

    @media screen and (min-width: 450px) {
        &__buttons{
            flex-direction: row;
            gap: 10px;
            justify-content: center;
        }
    }

    

    
}

