@use "basicStyles";

.hero{
  text-align: center;
  background-color: basicStyles.$primaryC;
  padding: 40px;

  &__foto{
    width: 100%;
    max-width: 800px;
  }

  &__heading{
    color: white;
    margin: 40px;
    font-size: 50px;
  }

}