@use "basicStyles";
@use "flexbox";
@use "card";

.section{
  text-align: center;
  background-color: basicStyles.$additionalC;
  color: basicStyles.$primaryC;

  &__text{
    margin-bottom: 40px;
  }
}

.section--inverted{
  color: basicStyles.$primaryC;
  text-align: center;
  background-color: white;
}


  
  




  

  