<section class="section" id="zakladny">

    <h1 class="section__heading">Základny</h1>
    <p class="section__text">Naše skautské středisko disponuje čtyřmi základnami. Dvě z nich jsou klubovny v Českém Brodě, kde se jednotlivé oddíly schází po celý rok. Další dvě základny jsou naše tábořiště, kam jezdíme příležitostně na vícedenní akce a hlavně na zlatý hřeb roku, kterým je dvou až třítýdenní tábor.</p>
  
    <div class="flex">
      {% for card in collections.zakladny %}
  
        
          <div class="card card--hover">
            <a class="card__link" href="{{ card.url }}">
              <img class="card__img" src="/images/{{ card.data.view }}" alt="{{ card.data.alt-view }}">
  
              <h3 class="card__heading">{{ card.data.title }}</h3>
              <p class="card__text">{{ card.data.text }}</p>
              <p class="button button--inverted">Zjistit více</p>
            </a>
          </div>
        
  
      {% endfor %}
    </div>
  </section>