<footer class="footer" id="footer">

    <h1 class="footer__naming">Kontakty</h1>

    <div class="footer__buttons">
        <a href="/index.html/#kontakty" class="button">Kontakty vedení</a>
        <a href="/index.html/#zakladny" class="button">Adresy základen</a>
    </div>

    <h3 class="footer__label">Fakturační adresa střediska</h3>

    <p class="footer__text">
        Junák - český skaut <br>
        středisko Ing. Ládi Nováka Český Brod, z.s. <br>
        Kollárova 419 <br>
        282 01 Český Brod
    </p>

    <p class="footer__text--margin">
        IČ: 61882241 <br>
        Číslo bankovního účtu: <br>
        0425820389/0800
    </p>

    <div class="footer__icones">
        <a class="footer__icone-link" href="https://www.facebook.com/StrediskoIngLadiNovaka"><img class="footer__icone-img" src="/images/facebook.svg" alt="facebook icone"></a>
        <a class="footer__icone-link" href="https://www.instagram.com/skaut_7/"><img class="footer__icone-img" src="/images/instagram.svg" alt="instagram icone"></a>
    </div>

</footer>