---
layout: layouts/main.njk
title: Více informací
---

{% include "partials/secondary_page/secondary-hero.njk" %}

<section class="section section--secondary">
    <h1 class="section__heading">{{ section1 }}</h1>
    
    {{ content | safe }}
    
</section>